@tailwind base;
@tailwind components;
@tailwind utilities;

.cm-content pre {
  word-break: break-word;
}

.markdown-body {
  ul {
    list-style: disc;

    ul {
      list-style: circle;

      ul {
        list-style: square;
      }
    }
  }

  ol {
    list-style: decimal;
  }

  pre {
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  }
}
